Fly with me
Across the universe
Jumping from one star to another

Fly with me
Leave all behind
Let your mind be free with mine

Fly with me
Let's enjoy ourselves
Visit places no-one else has been

Take my hand
And never let go
Open your wings and fly with me 
